n8n/workflows/image-generation-only.json
{
  "name": "AI Fashion - Image Generation Only",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-images-only",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.EXPRESS_API_URL }}/api/flows/create",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "characterImage",
              "value": "={{ $json.body.characterImage }}"
            },
            {
              "name": "productImage",
              "value": "={{ $json.body.productImage }}"
            }
          ]
        }
      },
      "id": "create-flow",
      "name": "Create Flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.EXPRESS_API_URL }}/api/flows/{{ $json.flowId }}/generate-images",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "imageCount",
              "value": "={{ $json.body.imageCount || 4 }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "generate-images",
      "name": "Generate Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Create Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Flow": {
      "main": [
        [
          {
            "node": "Generate Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Images": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}